@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.simple-editor-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: hsl(var(--background));
}

.simple-editor-content {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 3rem 2rem 30vh;
  font-family: "DM Sans", sans-serif;
  color: hsl(var(--foreground));
  outline: none;

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem 1.5rem 30vh;
  }
}

.tiptap-button {
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  color: hsl(var(--foreground));

  &:hover:not(:disabled) {
    background: hsl(var(--accent));
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.tiptap-button-icon {
  width: 1rem;
  height: 1rem;
}
